html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    color: #0f0feb;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.containerHeaderIndex{
    margin-bottom: 100px;
}

main{
    display: flex;
    justify-content: center;
    justify-items: center;
}

.button{
    text-decoration: none;
    background: #4949fa;
    color: #fff;
    padding: 13px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: #fff;
}